/* style.css */

body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    background-color: #ffffff;

}


header {

    background-color: #2b7f34;

    color: white;   

    padding: 10px 0;

    text-align: center;

}

nav {

    background-color: #333;

}

nav ul  {

    list-style: none;

    padding: 0;

    margin: 0;

    display: flex;

    justify-content: center;

}

nav ul li {

    margin: 0 15px;

}

nav ul li a {

    color: white;

    text-decoration: none;

    padding: 14px 20px;

    display: block;

}

nav ul li a:hover {

    background-color: #575757;

}

h2 {

    color: #333;

}

footer {

    background-color: #333;

    color: white;

    text-align: center;

    padding: 10px 0;

    position: fixed;

    bottom: 0;

    width: 100%;

}

.eleman:hover {

    color: #4CAF50;

}

@keyframes color-change {
    0% {
      color: blue;

    }
    50% {

      color: red;

    }
    100% {
      color: blue;
    }

}

h1:hover {

    animation: color-change 3s infinite;

}